In [3]:
#1 sum of two numbers
a=int(input("enter numbers"))
b=int(input())
a=a+b
print("sum=",a)

enter numbers4
5
sum= 9

In [7]:
#2 Hello World
print("Hello World!")

Hello World!

In [6]:
#3 square root
n=int(input("enter no. to find square root"))
n=(n**(1.0/2))
print("sqrt=",n)

enter no. to find square root246
sqrt= 15.684387141358123

In [11]:
#4 swap two numbers
a=int(input("enter a="))
b=int(input("enter b="))
a,b=b,a
print("a=", a,"b=", b)

enter a=5
enter b=7
a= 7 b= 5

In [11]:
#5 kilometers to miles
n=int(input("enter kilometer="))
m=n*(0.621)
print("km=",n,"miles=",m)

enter kilometer=4
km= 4 miles= 2.484

In [16]:
#6 celcius to fahrenheit
n=int(input("enter celcius degree"))
m=n*(9/5)+32
print("c=",n,"f=",m)

enter celcius degree100
c= 100 f= 212.0

In [18]:
#7 number is +ive -ive or 0
n=int(input("enter number"))
if(n==0):
    print("number is zero")
elif(n<0):
    print("number is negative")
else:
    print("number is positive")

enter number-2
number is negative

In [20]:
#8 odd or even
n=int(input("enter number"))
if(n%2==0):
    print("even")
else:
    print("odd")

enter number3
odd

In [8]:
#9 slice list
l1=["apple", "banana", "apple", "cherry", "cherry",1, 5, 7, 9, 3,True, False, False]
for i in range (2,len(l1),2):
    print(l1[i])

apple
cherry
5
9
True
False

In [3]:
#10 greatest number between three
a=int(input("enter the 1st number"))
b=int(input("enter the 2nd number"))
c=int(input("enter the 3rd number"))
if(a>b and  a>c):
    print("a is greater")
elif(b>a and b>c):
    print("b is greater")
else:
    print("c is greater")

enter the 1st number3
enter the 2nd number2
enter the 3rd number4
c is greater

In [6]:
#11 check prime number
a=int(input("enter no. to check prime "))
f=0
for i in range(2,a-1):
    if(a%i==0):
        f=1
if(f==0):
    print("number is prime")
else:
    print("number is not prime")

enter no. to check prime7
no. is prime

In [8]:
#12 sum of prime no. between interval
a=int(input("enter lower limit of interval to check prime"))
b=int(input("enter upper limit"))
l1=[]
sum=0
for j in range(a,b):
    f=0
    for i in range(2,j):
        if j%i==0:
            f=1
            break
    if f==0:  
        l1.append(j) 
        sum+=j
print(l1)
print("sum=",sum)

enter lower limit of interval to check prime1
enter upper limit 100
[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]
sum= 1061

In [4]:
#13 factorial
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact(n-1)
n=int(input("enter number to find factorial  "))
print(fact(n))

enter number to find factorial  5
120

In [50]:
#14 multiplication table
m=int(input("enter number whose multiplication table you want "))
n=int(input("enter last number upto which you find  "))
for i in range (0,n):
    print(m*(i+1))

enter number whose multiplication table you want 5
enter last number upto which you find  10
5
10
15
20
25
30
35
40
45
50

In [6]:
#15 fibonacci sequence
n=int(input("enter number where you want fibonacci")) 
def fibo(n):
    if n==1 or n==2:
        return (n-1)
    else:
        return (fibo(n-1)+fibo(n-2))

for i in range(n):
    print(fibo(i+1),end=' ')

enter number where you want fibonacci6
0 1 1 2 3 5

In [94]:
#16 armstrong number
n=int(input("enter 3-digit number to check armstrong  "))
a=n
s=0
while n>0:
    r=n%10
    n//=10
    s+=(r**3)
if a == s:
   print(a,"is an Armstrong number")
else:
   print(a,"is not an Armstrong number")

enter 3-digit number to check armstrong  371
371
371 is an Armstrong number

In [97]:
#17 armstrong number in interval
m=int(input('enter lower limit of interval to check armstrong number  '))
n=int(input("enter 3-digit number as upper limit to check armstrong  "))
l1=[]
for i in range(m,n):
    a=i
    s=0
    while i>0:
        r=i%10
        i//=10
        s+=(r**3)
    if a == s:
        l1.append(a)
    else:
        pass
print(l1)

enter 3-digit lower limit of interval to armstrong number  1
enter 3-digit number as upper limit to check armstrong  400
[1, 153, 370, 371]

In [99]:
#18 sum of natural number
n=int(input('enter number upto which you want sum of natural number '))
s=0
for i in range(n):
    s+=i+1
print(s)

enter number upto which you want sum of natural number10
55

In [103]:
#19 display power of two 
n=int(input('enter number '))
c=0
while n>0:
    if n%2==0:
        n/=2
        c+=1
    else:
        break
print(c)

enter number9
0

In [108]:
#19(alter) display power of 2 using anonymous function
n=int(input("enter number"))
d=lambda n : n**2
print(d(n))

enter number5
25

In [121]:
#20 hcf or gcd of two number
m=int(input("enter 1st number"))
n=int(input("enter 2nd number"))
l1=[]
l2=[]
l3=[]
for i in range(1,m+1):
    if m%i==0:
        l1.append(i)
for i in range(1,n+1):
    if n%i==0:
        l2.append(i)
for i in l1:
    for j in l2:
        if i==j:
            l3.append(i)
print('HCF of ',m,"&",n,'is',l3[-1])

enter 1st number12
enter 2nd number14
HCF of  12 & 14 is 2

In [126]:
#21 factors of a number
n=int(input("enter number whose factor is required "))
l1=[]
for i in range(1,n+1):
    if n%i==0:
        l1.append(i)
print("factors of",m,"is",l1)

enter number whose factor is required 12
factors of 12 is [1, 2, 3, 4, 6, 12]

In [129]:
#22 simple calculator
m=int(input("enter 1st number"))
o=input("enter operation which will perform")
n=int(input("enter 2nd number"))
if(o== '+'):
    m+=n
elif(o=='-'):
    m-=n
elif(o=='*'):
    m*=n
elif(o=='/'):
    m/=n
elif(o=='//'):
    m//=n
elif(o=='%'):
    m%=n
else:
    m**=n
print(m)

enter 1st number5
enter operation which will perform+
enter 2nd number3
8

In [3]:
#23 calender
year=int(input("enter year"))
month=int(input("enter month"))
import calendar
print(calendar.month(year,month))

enter year2020
enter month6
     June 2020
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [5]:
#24 fibonacci sequence using recursion
n=int(input("enter number where you want fibonacci")) 
def fibo(n):
    if n==1 or n==2:
        return (n-1)
    else:
        return (fibo(n-1)+fibo(n-2))

for i in range(n):
    print(fibo(i+1),end=' ')

enter number where you want fibonacci5
0 1 1 2 3

In [10]:
#25 sum of natural number using recursion

def recur(n):
   if n <= 1:
       return n
   else:
       return n + recur(n-1)
n=int(input('enter number'))
if n < 0:
   print("Enter a positive number")
else:
   print("The sum is",recur(n))

enter number10
The sum is 55

In [2]:
#26 factorial using recursion
def fact(n):
    if n==0 or n==1:
        return 1
    else:
        return n*fact(n-1)
n=int(input("enter number to find factorial  "))
print(fact(n))

enter number to find factorial  5
120

In [7]:
#27 polindrome string
n=input("enter string ")
for i in range(len(n)):
    a=n[::-1]
if(a==n):
    print("polindrome string")
else:
    print('not polindrome')

enter stringasdsa
polindrime string

In [4]:
#28 sort words in alphabetic order
a=input("enter string values")
print(sorted(a))

enter string valuesjjfdsnsd
['d', 'd', 'f', 'j', 'j', 'n', 's', 's']

In [10]:
#29 count the no. of each vowel 
n=input("input string value to count no. of vowel ")
n=(sorted(n))
c=0
l=['a','e','i','o','u','A','E','I','O','U']
for i in l:
    for j in n:
        if(i==j):
            c+=1
print(c)

input string value to count no. of vowelasdioue
5

In [55]:
#30 create a pyramid pattern
n=int(input("enter no. of rows "))
a=0
for i in range(1,n):
    for j in range(n-i):
        print(" ",end=" ")
    while a!=(2*i-1):
        print("*",end=" ")
        a+=1
    a=0    
    print()

enter no. of rows 5
        *
      * * *
    * * * * *
  * * * * * * *

In [68]:
#31 merge two dictionaries
dica={1: 'apple', 2: 'ball'}
dicb= {"brand": "Ford","model": "Mustang","year": 1964}
def merge(dica,dicb):
    return(dica.update(dicb))
(merge(dica, dicb))
print(dica)

{1: 'apple', 2: 'ball', 'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [71]:
#32 safely create a nested dictionary
dica={1: 'apple', 2: 'ball'}
dicb= {"brand": "Ford","model": "Mustang","year": 1964}
dica.update({3:dicb})
print(dica)

{1: 'apple', 2: 'ball', 3: {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}}

In [84]:
#33 access index of a list using for loop
l1=["apple", "banana", "cherry", "apple", "cherry"]
print((l1))
n=input("enter the any one name of above to know index no.=")
for i in range(len(l1)):
    if(n==l1[i]):
        p=i
        print(p) 
        continue

['apple', 'apple', 'banana', 'cherry', 'cherry']
enter the any one name of above to know index no.=apple
0
3